@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* Estilos para el contenedor principal del botón desplegable */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Estilos del botón principal */
  .dropdown-button {
    background-color: #1b1b1b;;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Estilos del contenido desplegable */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1b1b1b;;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  /* Estilos de los enlaces en el menú desplegable */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Cambio de color al pasar el mouse */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Mostrar el contenido desplegable al pasar el mouse */
  .dropdown:hover .dropdown-content {
    display: block;
  }

section{
    padding: 50px 100px;
}
:root{
--second-color: #edeae3;
--main-color: #80AF81;
--text-color: #1b1b1b;
--bg-color: #F3F3E0;
}
.whatsapp-float {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}

.whatsapp-float img {
    width: 60px; 
    height: 60px;
    border-radius: 50%; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s; 
}

.whatsapp-float img:hover {
    transform: scale(1.1);
}
body{
    background: var(--second-color);
}
/* Ajustes de estilo para secciones y encabezado */
section{
    padding: 50px 100px;
}
img{
    width: 100%;
}
body{
    color:var(--text-color);
}
/* Configuración del encabezado */
header{
    background: var(--text-color);
    position: fixed; 
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s linear;
}
header.shadow{
    background: var(--text-color);
    box-shadow: var(--box-shadow);
}

/* Botón de menú móvil */
#menu-icon{
    color: var(--bg-color);
    font-size:24px;
    z-index:10001;
    cursor:pointer;
    display: none;
}

/* Estilos para la barra de navegación */
.navbar{
    display: flex;
    align-items: center;
}
.navbar a{
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
    background: var(--main-color);
    border-radius: 0.2rem;
    transition: 0.2s all linear;
}
.social-nav{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;   
}
.social-nav a .bx{
    font-size: 24px;
    color: var(--text-color);
    padding: 10px;
    background: var(--second-color);
    border-radius: 0.2rem;
}
.social-nav a .bx:hover{
    background: var(--main-color);
    color: var(--bg-color);
}

.about{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    gap: 1.5rem;
    padding-top: 100px;
}
.about-img img{
    border-radius: 0.5rem;
    width: 450px;
    height: 450px;
}
.about-text h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-size: 65px;
    color: var(--main-color);
    font-weight: 800;
    margin-bottom: 50px;
}
.about-text p{
    font-size:0.938rem;
    margin:0.5rem 0 1.1rem;
}
.heading{
    text-align: center;
}
.heading h2{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.horario {
    padding: 50px 100px 50px 100px;
    background-color: var(--second-color);
}
.mapa{
    padding:50px 100px 50px 100px;
}
.ubicacion-info h2 { 
    font-size: 75px;
    color: var(--main-color);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
    
}

.container-servicios {
    text-align: center;
    padding: 50px;
}

.titulo-servicios {
    font-size: 75px;
    color: var(--main-color);
    
}

.descripcion-servicios {
    font-size: 1em;
    color: var(--text-color);
    margin-bottom: 30px;
}

.contenedor-servicio {
    display:inline-block;
    width: 200px;
    margin: 20px;
    padding: 30px;
    background-color: var(--bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s;
}
.contenedor-pequeños{
    display:inline-block;
    width: 200px;
    margin: 20px;
    padding: 30px;
    padding-top: 50px;
    background-color: var(--bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s;
}

.contenedor-servicio:hover {
    transform: translateY(-10px);
}
.contenedor-pequeños:hover {
    transform: translateY(-10px);
}
.icono-servicio {
    font-size: 3em;
    color: var(--main-color);
}

.titulo-servicio {
    font-size: 1.2em;
    margin-top: 15px;
    color: var(--text-color);
}

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
    color: var(--text-color);
    background: var(--main-color);
    align-items: baseline;
}
.footer-box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box p{
    font-size: 0.938rem;
    margin-bottom: 10px;
}
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-top: 50px;
}
.social a .bx{
    font-size: 24px;
    color: var(--text-color);
    padding: 10px;
    background: var(--second-color);
    border-radius: 0.2rem;
}
.social a .bx:hover{
    background: var(--main-color);
    color: var(--bg-color);
}
.footer-box h3{
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box li a{
    color:var(--text-color) ;
}

.contact{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.contact span{
    display: flex;
    align-items: center;
}
.contact i{
    font-size: 20px;
    margin-right: 1rem;
}
@media (max-width:1058px){
    .dropdown-content { 
        a {
            background-color: white;
          }
      }
    section {
        padding: 50px 60px;
    }
    header{
        padding: 16px 60px;
    }
    
    .ubicacion-info h2 {
        font-size: 50px;
        margin-bottom: 15px;
    }
    .about-img img{
        border-radius: 0.5rem;
        width: 400px;
        height: 400px;
    }
    .about-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-text h2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about-text p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
@media (max-width:991px){
    .about{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    header{
        padding: 16px 4%;
    }
    .about-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-text h2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about-text p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about-img img{
        border-radius: 0.5rem;
        width: 350px;
        height: 350px;
    }
    section {
        padding: 50px 4%;
    }
    .ubicacion-info h2 {
        font-size: 50px;
        margin-bottom: 15px;
    }
    .about-img {
        width: 100%;
    }

    .about-img img {
        width: 300px;
        height: 300px;
        margin-bottom: 25px;
        
    }

}
@media (max-width:768px){
    header{
        padding: 12px 4%;
    }
    #menu-icon{
        display: initial;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
    .navbar{
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--second-color);
        row-gap: 1.4rem;
        padding: 20px;
        transition: 0.3s;
        text-align: center;
    }
    .navbar a{
        color: var(--text-color);
    }
    .navbar a:hover{
        color: var(--bg-color);
    }
    .navbar.active {
        top: 100px;
    }
    .ubicacion-info h2{
        font-size: 50px;
        margin-bottom: 15px;
    }
}  
@media (max-width:360px){
    header{
        padding: 11px 4%;
    }
    .logo img {
        width: 45px;
    }
    .heading h2{
        font-size: 1.2rem;
    }
    .btn-1 { 
        font-size: 16px;
    }
    .ubicacion-info h2{
        font-size: 50px;
        margin-bottom: 15px;
    }
}

